.jfx-decorator {
    -fx-decorator-color: derive(#ff803a, -0%);
}

.jfx-decorator .jfx-decorator-buttons-container {
    -fx-background-color: -fx-decorator-color;
}

.jfx-decorator .resize-border {
    -fx-border-color: -fx-decorator-color;
    -fx-border-width: 0 4 4 4;
}

.jfx-tool-bar {
    -fx-font-size: 20.0;
    -fx-font-weight: BOLD;
    -fx-background-color: #5264AE;
    -fx-pref-width: 100.0%;
}

.jfx-tool-bar HBox {
    -fx-alignment: center;
    -fx-spacing: 25.0;
    -fx-padding: 0.0 10.0;
}

.jfx-tool-bar Label {
    -fx-text-fill: WHITE;
}

.jfx-tool-bar .jfx-options-burger {
    -fx-padding: 22px;
}

.jfx-snackbar-content {
    -fx-background-color: #1ab3ce;
}

.jfx-snackbar-toast {
    -fx-text-fill: WHITE;
    -fx-font-size: 14;  
}

.jfx-snackbar-action {
    -fx-text-fill: #FFFFFF;
}